.page {
  background-color: #2A2C2F;
  width: 100%;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .page {
    min-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    min-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    min-width: 1280px;
  }
}


