.header__lang-link_en {
  color: white;
  display: inline;
  min-width: 22px;
  min-height: 20px;
  text-decoration: none;
  transition: opacity 1s .1s;
}

.header__lang-link_en:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .header__lang-link_en {
    min-width: 29px;
    min-height: 28px;
  }
}
