.cover__subtitle {
  color: white;
  max-width: 288px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}
