.lead__title {
  max-width: 320px;
  color: white;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .lead__title {
    min-width: 720px;
    font-size: 96px;
    line-height: 100px;
    padding-bottom: 32px;
  }
}
