.places__list {
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(1, 320px);
}

@media screen and (min-width: 768px) {
  .places__list {
    grid-template-columns: repeat(1, 340px);
  }
}

@media screen and (min-width: 1024px) {
  .places__list {
    grid-template-columns: repeat(1, 928px);
  }
}

@media screen and (min-width: 1280px) {
  .places__list {
    grid-template-columns: repeat(1, 984px);
  }
}

