.lang-link_ru {
  color: white;
  display: inline;
  text-decoration: underline;
  text-underline-offset: 3px;
  min-width: 22px;
  min-height: 20px;
  transition: opacity 1s .1s;
}

.lang-link_ru:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .lang-link_ru {
    min-width: 30px;
    min-height: 28px;
  }
}
