.intro {
  min-width: 288px;
  padding: 63px 16px 65px;
}

@media screen and (min-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 88px 0px 88px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    max-width: 690px;
    padding-top: 92px;
    padding-left: 48px;
    padding-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    padding-left: 148px;
    padding-right: 442px;
    margin: 0 auto;
  }
}
