.cover {
  box-sizing: border-box;
  overflow: hidden;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    margin: 0 auto;
  }
}
