.cover {
  overflow: hidden;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .cover {
    padding-left: 48px;
    padding-right: 48px;
  }
}
