.place {
  display: grid;
  object-fit: contain;
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  .place {
    min-width: 720px;
    padding: 73px 24px 0;
  }
  .place:first-of-type {
    padding-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    min-width: 928px;
    padding-top: 80px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .place:first-of-type {
    padding-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    min-width: 984px;
    padding-left: 148px;
    padding-right: 148px;
  }
}
