.place {
  display: grid;
  object-fit: contain;
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  .place {
    padding: 73px 24px 0;
    min-width: 720px;
  }
  .place:first-of-type {
    padding-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    padding: 80px 48px 0;
    min-width: 928px;
  }
  .place:first-of-type {
    padding-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    padding: 80px 148px 0;
    min-width: 984px;
  }
  .place:first-of-type {
    padding-top: 92px;
  }
}
