.place {
  display: grid;
  object-fit: cover;
  padding-top: 50px;
}

.place:first-of-type {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .place {
    padding-top: 73px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    padding-top: 80px;
  }
}
