.place__website {
  display: inline-flex;
  flex-direction: column;
  padding-top: 32px;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .place__website {
    grid-column: 2;
    padding-top: 0;
    padding-left: 28px;
    padding-bottom: 48px;
    align-self: end;
  }
}

@media screen and (min-width: 1024px) {
  .place__website {
    padding-top: 30px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place__website {
    padding-left: 40px;
  }
}

