.intro__title {
  color: white;
  max-width: 288px;
  max-height: 88px;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 40px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .intro__title {
    max-width: 720px;
    max-height: 200px;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0em;
  }
}
